<h1>Pins#new</h1>
<p>Find me in app/views/pins/new.html.erb</p>

<%= form_with(model: @pin, local: true) do |f| %>
  <div class="actions">
    <%= f.label :name,"場所の名前" %>
    <%= f.text_field :name %>
    <%= f.label :body,"内容" %>
    <%= f.text_field :body %>
    <%= f.label :lat,"緯度" %>
    <%= f.text_field :lat,:value =>"緯度", id: :lat %>
    <%= f.label :lng,"経度" %>
    <%= f.text_field :lng,:value =>"経度", id: :lng %>
    <%= f.submit %>
  </div>
<% end %>

<h2>Map</h2>

<input id="address" type="textbox" value="東京">
<input type="button" value="検索" onclick="codeAddress()">
<p>マーカーをドラック＆ドロップで位置の調整ができます。<p>
<div id='map'></div>

<style>
#map {
  height: 300px;
  width: 500px;
}
</style>

<script>
  //初期マップの設定
  let map
  let marker
  function initMap(){
    geocoder = new google.maps.Geocoder();
    var target = document.getElementById('map');
    var tokyo = {lat: 35.6803997, lng:139.7690174};

    map = new google.maps.Map(target, {
      center: tokyo,  //東京
      zoom: 14,

    });
  }

  //検索後のマップ作成
  let geocoder
  let aft
  function codeAddress(){
    let inputAddress = document.getElementById('address').value;
    geocoder.geocode( { 'address': inputAddress}, function(results, status) {
      // resultに緯度経度が入っている, 検索が成功するとstatusに'OK'が入る
      if (status == 'OK') {
        //マーカーが複数できないようにする
        if (aft == true){
            marker.setMap(null);
        }

        //新しくマーカーを作成する
        map.setCenter(results[0].geometry.location);
          marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location,
          draggable: true	// ドラッグ可能にする
        });

        //二度目以降か判断
        aft = true

        //検索した時に緯度経度を入力する
        document.getElementById('lat').value = results[0].geometry.location.lat();
        document.getElementById('lng').value = results[0].geometry.location.lng();

        // マーカーのドロップ（ドラッグ終了）時のイベント
        google.maps.event.addListener( marker, 'dragend', function(ev){
          // イベントの引数evの、プロパティ.latLngが緯度経度
          document.getElementById('lat').value = ev.latLng.lat();
          document.getElementById('lng').value = ev.latLng.lng();
        });
      } else {
        alert('該当する結果がありませんでした：' + status);
      }
    });
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?language=ja&region=JP&key=AIzaSyCDg-KNY6Z3rTWiCM8bz3n6D_RpSO6CbLA&callback=initMap" async defer></script>



